<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nacatamalitosoft.com.cotracosanapps">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ActivityConsolidadoCreditoBus"></activity>
        <activity android:name=".ActivityConsolidadoCarrera" />
        <activity android:name=".ActivityCarreras" />
        <activity android:name=".ActivityDetalleCarrera" />
        <activity android:name=".Creditos.Acciones.ResultadosBusquedaActivity" />
        <activity
            android:name=".Creditos.CajaActivity"
            android:label="@string/title_activity_caja"
            android:theme="@style/AppTheme.Caja" />
        <activity android:name=".DetalleCredito" />
        <activity android:name=".UserManager.ChangePasswordActivity" />
        <activity android:name=".UserManager.ImagePreviewActivity" />
        <activity android:name=".UserManager.UserDetailsActivity" />
        <activity android:name=".ActivityBuses" />
        <activity android:name=".ActivityCredito" />
        <activity android:name=".ActivityAbonos" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityDiario" />
    </application>

</manifest>